/*Style rules for mobile viewport*/
main {
  padding-bottom: 200px
}

/* Citation for the below html CSS
Title: Perfect Full Background Image
Author:Coyier,C.
Date: November 20, 2010
Code Version: 1.0
Availability: https://css-tricks.com/perfect-full-page-background-image/
*/
html {
  background: url(indexBack.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: #013328
}

header {
  top: 0;
  background-color: #007056;
  text-align: center;
  color: #fff;
  font-size: 2em;
  padding: 1%;
  height: auto
}

header h1, h2 {
  padding: 0;
  margin: 0;
  font-size: 98%
}

header img {
  display: none
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #007056;
  color: #fff;
}

nav a {
  text-decoration: none;
  padding-right: 5px;
  padding-top: 2%;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007056;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0
}

a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0
}

/*navigation for phone/default view*/
.northwest-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1%;
  display: block
}

/*fieldset values*/
.fieldset2-glance, .fieldset1-glance, #disclaimer-OOAG {
  background-color: #fff;
  background-blend-mode: color
}

legend {
  background-color: #fff;
  border-style: solid;
  border-width: thin
}

label {
  display: block
}

.standard {
  background-color: #fff;
}

.button button {
  display: block;
  width: 100%;
  background-color: #007056;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 2px #000
}

.button p {
  font-size: 2em;
  text-align: center;
  font-weight: 700
}

/*makes tablet-nav not display*/
#nav-html {
  display: none
}

.tablet-nav, #tablet-list {
  display: none
}

/*Accessibility mode styling*/
.access {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.access a {
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
}

.access li {
  margin-bottom: 1px;
}

.access ul {
  padding-bottom: 100px;
}

/*makes footer not occupy the majority of the display*/
/*footer position set to fixed at the recommendation of Mrs. Linville*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007056;
  color: #fff;
  height: 90px
}

footer p {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0
}

.tab-desk {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width:630px), print {
  header img {
    display: inline;
    float: left;
    height: 95px
  }

  /*header rule for nav of tablet*/
  header {
    top: 0;
    background-color: #007056;
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding: 1%;
    height: 140px
  }

  header h1, header h2 {
    font-size: 150%
  }

  footer {
    height: 90px
  }

  .button {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    margin-left: 12%;
    margin-top: 3%;
  }

  .button a {
    margin: 10px;
  }

  .button button {
    font-size: 1.3em;
  }

  .main-text-OAAG {
    font-size: 2em;
    text-align: center;
    font-weight: 700
  }

  .fieldset1-glance {
    font-size: 1.5em;
    padding-right: 5px;
  }

  #disclaimer-OOAG {
    font-weight: 700
  }

  .northwest-nav a {
    color: #fff;
    font-family: "Francois One", sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 1%;
    display: block
  }

  nav {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #007056;
    color: #fff;
  }

  nav ul {
    list-style-type: none
  }

  fieldset {
    padding-right: 5px;
    padding-top: 5px;
  }

  nav {
    font-weight: 700;
    padding: 0em 0em 0em 0em;
    display: block
  }

  .tab-desk {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width:1015px), print {
  header img {
    display: inline;
    float: left;
    height: 130pgx
  }

  form {
    display: block;
    margin: 5px;
  }

  .button {
    grid-template-columns: auto auto auto
  }

  #wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 960px
  }

  /* navigation for Desktop View*/
  .tablet-nav, #tablet-list {
    display: block
  }

  .tablet-nav {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    background-color: #007056;
    margin-top: auto
  }

  .tablet-nav nav li a {
    color: #fff
  }

  #textbook-disclaimer {
    text-align: center
  }

  nav {
    font-weight: 700;
    float: left;
    width: 160px;
    padding: 0em 0em 0em 0em;
    display: block
  }

  nav li a {
    display: block
  }

  .northwest-nav a {
    display: none
  }

  .tablet-nav, #tablet-list, nav li, nav li a {
    color: #fff
  }
}