/*Style rules for mobile viewport*/
main {
  margin: 0px;
}

header {
  top: 0;
  background-color: #007056;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  padding: 1%;
  height: 90px;
  margin-bottom: auto;
}

header img {
  display: none;
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #007056;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

nav ul {
  list-style-type: none;
}

main {}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007056;
  color: white;
  text-align: center;
}
/*navigation for phone/default view*/
.northwest-nav a {
  color: #ffffff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  padding: 9%;
  display: block;
}
/*fieldset values*/

.fieldset2-glance, .fieldset1-glance, #disclaimer-OOAG{
  background-color: #ffffff;
  background-blend-mode: color;

}
legend{
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
}
label{
  display: block;
}

main {
  background-image: url("images/indexBack.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
}

.button button {
  display: block;
  width: 100%;
  background-color: #007056;
  font-size: 1em;
  font-weight: bold;
  color: white;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0px, 2px, 0px, #000000;
}

.button p {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
/*makes tablet-nav not display*/
#nav-html {
  display: none;
}

.tablet-nav, #tablet-list{
  display: none;
}
nav li a{
  display: none;
}
/*makes footer not occupy the majority of the display*/
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007056;
  color: white;
  text-align: center;
}
/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    header img {
      display: inline;
      float: left;
      height: 95px;
    }
    /*header rule for nav of tablet*/
    header {
      top: 0;
      background-color: #007056;
      text-align: center;
      color: #ffffff;
      font-size: 2em;
      padding: 1%;
      height: 140px;
    }
    .button {
      display: inline-grid;
      grid-template-columns: auto auto;
    }

    .button a {
      margin: 10px;
    }
/* Navigation CSS for tablet view*/
  .tablet-nav, #tablet-list, nav li, nav li a{
    display: block;
  }
  .main-text-OAAG{
    font-size: 2em;
    text-align: center;
    text-decoration: bold;
  }
  .fieldset1-glance{
    font-size: 1.5em;

  }
  #disclaimer-OOAG{
    font-weight: bold;
  }
  .northwest-nav a{
    display: none;
  }
  .tablet-nav{
      width: auto;
      margin-left: 0;
      margin-right: 0;
      background-color: ##007056;
      align-items: flex-start;
      margin-top:7%
  }
  nav { font-weight: bold;
  float: left;
  width: 160px;
  padding: 0em 0em 0em 0em;
  display: block;
  }
}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
  header img {
    display: inline;
    float: left;
    height: 150px;
  }

  form {
    display: block;
    margin: 5px;
  }
  /* navigation for Desktop View*/
  .tablet-nav, #tablet-list{
    display: block;
  }
  .tablet-nav{
      width: auto;
      margin-left: 0;
		  margin-right: 0;
		  background-color: #007056;
  }
  nav { font-weight: bold;
  float: left;
  width: 160px;
	padding: 0em 0em 0em 0em;
  display: block;
}
  nav li a{
    display: block;
  }
  .northwest-nav a{
    display: none;
  }

}
