/*Style rules for mobile viewport*/
header {
  background-color: #007056;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
}

header img {
  display: none;
}

nav {
  background-color: #007056;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

nav ul {
  list-style-type: none;
}

footer {
  background-color: #007056;
  text-align: center;
  color: #ffffff;
}

.northwest-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

#nav-html {
  display: none;
}