/*Style rules for mobile viewport*/
main {
  margin: 0px;
}

header {
  top: 0;
  background-color: #007056;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  padding: 1%;
  height: 90px;
}

header img {
  display: none;
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #007056;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

nav ul {
  list-style-type: none;
}

main {}

footer {
  background-color: #007056;
  text-align: center;
  color: #ffffff;
}

.northwest-nav a {
  color: #ffffff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  padding: 2%;
  display: block;
}

.button {
  background-image: url("images/indexBack.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
}

.button button {
  display: block;
  width: 100%;
  background-color: #007056;
  font-size: 1em;
  font-weight: bold;
  color: white;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0px, 2px, 0px, #000000;
}

.button p {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

#nav-html {
  display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
  header img {
    display: inline;
    float: left;
    height: 150px;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
  header img {
    display: inline;
    float: left;
    height: 150px;
  }

  form {
    display: block;
    margin: 5px;
  }
}
